Bibliografia
<%- content_for :navigation do %>
  <nav>
    <li>
      <%= link_to 'Bibliografia', '/bibliografia' %>
    </li>
  </nav>
<% end %>

<h1>
    Bibliografia.
</h1>


<li><%= link_to 'http://books.google.com.mx/books?id=bKKlb3z4FgwC&pg=PA168&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CCIQ6AEwAQ#v=onepage&q=espectro%20electromagnetico&f=false' %>
<li><%= link_to 'http://books.google.com.mx/books?id=brlMVTA48X4C&pg=PA927&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CFAQ6AEwCQ#v=onepage&q=espectro%20electromagnetico&f=false' %>

<li><%= link_to 'http://books.google.com.mx/books?id=bKKlb3z4FgwC&pg=PA168&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CCIQ6AEwAQ#v=onepage&q=espectro%20electromagnetico&f=false' %>

<li><%= link_to 'http://books.google.com.mx/books?id=cGTl99kok9UC&pg=PA1238&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CC8Q6AEwAw' %>

<li><%= link_to 'http://teleformacion.edu.aytolacoruna.es/FISICA/document/fisicaInteractiva/Ondasbachillerato/ondasCaract/ondas-Caract_indice.htm' %>

<li><%= link_to 'http://www.fisicapractica.com/campo-magnetico.php' %>

<li><%= link_to 'http://www.bibliotecapleyades.net/esp_gravedad_magnetismo.htm' %>
<li><%= link_to 'http://www.areatecnologia.com/ondas-electromagneticas.htm' %>

<li><%= link_to 'http://rabfis15.uco.es/lvct/tutorial/21/Propiedades%20de%20las%20ondas.html' %>

<li><%= link_to 'http://www.taringa.net/post/ciencia-educacion/12869841/Ondas-electromagneticas-origen-y-caracteristicas.html' %>


<li><%= link_to 'http://pendientedemigracion.ucm.es/info/opticaf/OPT_FIS/apuntes_sueltos_prov/pdf/Tema2.pdf' %>

<li><%= link_to 'http://www.espectrometria.com/espectro_electromagntico' %>


<li><%= link_to 'http://www.astrofisicayfisica.com/2012/06/que-es-el-espectro-electromagnetico.html' %>
<li><%= link_to 'http://gaussmatematikus.blogspot.mx/2010/05/velocidad-frecuencia-y-longitud-de-onda.html' %>
<li><%= link_to 'http://web.educastur.princast.es/proyectos/jimena/pj_franciscga/contenidos.htm' %>
<li><%= link_to 'http://es.wikipedia.org/wiki/Per%C3%ADodo_de_oscilaci%C3%B3n' %>
<li><%= link_to 'https://www.youtube.com/watch?v=qmY5yPEwyf4' %>

<p>








</p>
