<h1>Bibliografia</h1>

<ul>
  <li>
    <%= link_to 'Fisica y quimica 4 ESO', 'http://books.google.com.mx/books?id=bKKlb3z4FgwC&pg=PA168&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CCIQ6AEwAQ#v=onepage&q=espectro%20electromagnetico&f=false' %>
  </li>

  <li>
    <%= link_to 'Fisica para la ciencia y la tecnología', 'http://books.google.com.mx/books?id=brlMVTA48X4C&pg=PA927&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CFAQ6AEwCQ#v=onepage&q=espectro%20electromagnetico&f=false' %>
  </li>

  <li>
    <%= link_to 'Fisica y quimica 3', 'http://books.google.com.mx/books?id=bKKlb3z4FgwC&pg=PA168&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CCIQ6AEwAQ#v=onepage&q=espectro%20electromagnetico&f=false' %>
  </li>

  <li>
    <%= link_to 'Fisica universitaria: con fisica moderna, Vol. 2', 'http://books.google.com.mx/books?id=cGTl99kok9UC&pg=PA1238&dq=espectro+electromagnetico&hl=es-419&sa=X&ei=4BJ2VJWeGcWnNqG_gYgD&ved=0CC8Q6AEwAw' %>
  </li>

  <li>
    <%= link_to 'Las ondas y sus caracteristicas', 'http://teleformacion.edu.aytolacoruna.es/FISICA/document/fisicaInteractiva/Ondasbachillerato/ondasCaract/ondas-Caract_indice.htm' %>
  </li>

  <li>
    <%= link_to 'Campo magnetico', 'http://www.fisicapractica.com/campo-magnetico.php' %>
  </li>

  <li>
    <%= link_to 'Gravedad y magnetismo', 'http://www.bibliotecapleyades.net/esp_gravedad_magnetismo.htm' %>
  </li>

  <li>
    <%= link_to 'Ondas electromagneticas', 'http://www.areatecnologia.com/ondas-electromagneticas.htm' %>
  </li>

  <li>
    <%= link_to 'Propiedades de las ondas', 'http://rabfis15.uco.es/lvct/tutorial/21/Propiedades%20de%20las%20ondas.html' %>
  </li>

  <li>
    <%= link_to 'Ondas electromagneticas', 'http://www.taringa.net/post/ciencia-educacion/12869841/Ondas-electromagneticas-origen-y-caracteristicas.html' %>
  </li>

  <li>
    <%= link_to 'Ondas Electromagneticas: apuntes', 'http://pendientedemigracion.ucm.es/info/opticaf/OPT_FIS/apuntes_sueltos_prov/pdf/Tema2.pdf' %>
  </li>

  <li>
    <%= link_to 'Espectro electromagnetico: espectrometria', 'http://www.espectrometria.com/espectro_electromagntico' %>
  </li>

  <li>
    <%= link_to 'Espectro electromagnetico: astrofisica y fisica', 'http://www.astrofisicayfisica.com/2012/06/que-es-el-espectro-electromagnetico.html' %>
  </li>

  <li>
    <%= link_to 'Velocidad frecuencia y longitud de onda', 'http://gaussmatematikus.blogspot.mx/2010/05/velocidad-frecuencia-y-longitud-de-onda.html' %>
  </li>

  <li>
    <%= link_to 'Periodo de Oscilacion', 'http://es.wikipedia.org/wiki/Per%C3%ADodo_de_oscilaci%C3%B3n' %>
  </li>

  <li>
    <%= link_to 'Oscilacion: Youtube', 'https://www.youtube.com/watch?v=qmY5yPEwyf4' %>
  </li>

</ul>
