<h1>
    Propiedades de las ondas.
</h1>

<p>
    Las ondas electromagnéticas no necesitan un medio material para propagarse. Así, estas ondas pueden atravesar el espacio
    interplanetario e interestelar y llegar a la Tierra desde el Sol y las estrellas. Independientemente de su frecuencia y longitud
    de onda, todas las ondas electromagnéticas se desplazan en el vacío a una velocidad c = 299.792 km/s. Todas las radiaciones del
    espectro electromagnético presentan las propiedades típicas del movimiento ondulatorio, como la difracción y la interferencia.
    Las longitudes de onda van desde billonésimas de metro hasta muchos kilómetros. La longitud de onda (l) y la frecuencia (f) de las
    ondas electromagnéticas, relacionadas mediante la expresión l·f = c son importantes para determinar su energía, su visibilidad,
    su poder de penetración y otras características.
</P>

<p>
    Siendo las siguientes las caracteristicas de las ondas electromageticas.
</p>

<ol>
    <li><%= link_to 'Amplitud', materias_fisica_path('amplitud') %></li>
    <li><%= link_to 'Frecuencia', materias_fisica_path('frecuencia') %></li>
    <li><%= link_to 'Periodo', materias_fisica_path('periodo') %></li>
    <li><%= link_to 'Longitud', materias_fisica_path('longitud') %></li>
    <li><%= link_to 'Velocidad', materias_fisica_path('velocidad') %></li>
</ol>

