<h2> Amplitud </h2>

<li>
  <p>El período de un movimiento ondulatorio que se propaga por el eje de abscisas es de 3×10-3 s. La distancia entre dos puntos
         consecutivos cuya diferencia de fase es p/2 vale 30 cm. </p>
  <p>Calcular: a) La longitud de onda. b) La velocidad de propagación.</p>
  <p>La diferencia de fase de dos puntos que distan una longitud de onda es 2p, luego:</p>
  <%= image_tag 'http://www.sociedadelainformacion.com/departfqtobarra/ondas/problemas/F7-16.GIF' %>
  <p> La velocidad de propagación de la onda es: </p>
  <%= image_tag 'http://www.sociedadelainformacion.com/departfqtobarra/ondas/problemas/F7-17.GIF' %>
</li>
<%= image_tag 'https://s3-us-west-2.amazonaws.com/asml.sas/7.png'%>
<%= image_tag 'https://s3-us-west-2.amazonaws.com/asml.sas/6.png'%>
<%= image_tag 'https://s3-us-west-2.amazonaws.com/asml.sas/6.png'%>

