<dl class="tabs vertical" data-tab>
  <dd class="active"><a href="#panel1">Problema 1</a></dd>
  <dd><a href="#panel2">Problema 2</a></dd>
  <dd><a href="#panel3">Problema 3</a></dd>
  <dd><a href="#panel4">Problema 4</a></dd>
  <dd><a href="#panel5">Problema 5</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <div class='columns large-9'>
    <p>El período de un movimiento ondulatorio que se propaga por el eje de abscisas es de 3×10-3 s. La distancia entre dos puntos
    consecutivos cuya diferencia de fase es p/2 vale 30 cm. </p>
    <p>Calcular: a) La longitud de onda. b) La velocidad de propagación.</p>
    <p>La diferencia de fase de dos puntos que distan una longitud de onda es 2p, luego:</p>
    <%= image_tag 'http://www.sociedadelainformacion.com/departfqtobarra/ondas/problemas/F7-16.GIF' %>
    <p> La velocidad de propagación de la onda es: </p>
    <%= image_tag 'http://www.sociedadelainformacion.com/departfqtobarra/ondas/problemas/F7-17.GIF' %>
    </div>
  </div>
  <div class="content" id="panel2">
    <div class='columns large-9'>
    <p> Una onda se propaga a 2.5 m/s con un periodo de 0.4 s. Calcula la longitud. </p>
    <%= image_tag 'https://s3-us-west-2.amazonaws.com/asml.sas/a.png' %>
    </div>
  </div>
  <div class="content" id="panel3">
    <div class='columns large-9'>
    <p> Calcula la velocidad de propagacion de una onda sabiendo que su longitud de onda 
    es de 0.05 m y su frecuencia 20.000 Hz. </p>
    <%= image_tag 'https://s3-us-west-2.amazonaws.com/asml.sas/b.png' %>
    </div>
  </div>
  <div class="content" id="panel4">
    <div class='columns large-9'>
    <p> Una onda se propaga con una velocidad de 3.000 m/s y tiene 15.000 Hz de frecuencia. Calcula la longitud de onda.</p>
    <%= image_tag 'https://s3-us-west-2.amazonaws.com/asml.sas/c.png' %>
    </div>
  </div>
  <div class="content" id="panel5">
    <div class='columns large-9'>
    <p> La velocidad de propagacion de una onda es 750 m/s y la longitud de onda es de 0.025 m. Calcula  su frecuencia y su periodo.</p>
    <%= image_tag 'https://s3-us-west-2.amazonaws.com/asml.sas/d.png' %>
    </div>
  </div>
</div>

