<%= render partial: @page %>

<%- content_for :navigation do %>
  <nav>
    <li><%= link_to 'Espectro electrico', materias_fisica_path('espectro_electrico') %></li>
    <li>
    <%= link_to 'Propiedades de las ondas', materias_fisica_path('propiedades_de_las_ondas') %>
      <ol>
        <li><%= link_to 'Amplitud', materias_fisica_path('amplitud') %></li>
        <li><%= link_to 'Frecuencia', materias_fisica_path('frecuencia') %></li>
        <li><%= link_to 'Longitud', materias_fisica_path('longitud') %></li>
        <li><%= link_to 'Velocidad', materias_fisica_path('velocidad') %></li>
      </ol>
    </li>
    <li><%= link_to 'Problemas de aplicacion', materias_fisica_path('problemas_de_aplicacion') %></li>
  </nav>
<% end %>
