<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <%= link_to image_tag('logo.png', alt: 'Universidad de Colima'), 'http://www.ucol.mx/' %>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown">
        <%= link_to 'Hector', '#' %>
        <ul class="dropdown">
          <li><%= link_to 'Acerca de Mí', contacto_index_path %></li>
          <li><%= link_to 'Bibliografía', bibliografia_path %></li>
        </ul>
      </li>
    </ul>

    <ul class="left">
      <li><%= link_to 'Home', root_path %></li>
      <li class='has-dropdown'>
        <%= link_to 'Materias', materias_path %>
        <ul class="dropdown">
          <li><%= link_to 'Fisica', materias_fisica_index_path %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
