<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>'Proyecto web'</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= render partial: 'header' %>
    </header>

    <nav class='breadcrumbs'><%= render partial: 'breadcrumbs' %></nav>
    <div class="row main">
      <main class="columns <%= content_for?(:navigation) ? 'large-9' : 'large-12'%>">
        <%= yield %>
      </main>

      <aside class="large-3 columns">
        <%= render partial: 'navigation' %>
      </aside>
    </div>


    <footer>
      <%= render partial: 'footer' %>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>


